In [28]:


import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
plt.style.use('seaborn-whitegrid')

In [27]:
#Tiedostojen avaaminen:
elisa = pd.read_csv('http://taanila.fi/elisa.csv', sep = ';', decimal = ',', 
                  usecols = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
telia = pd.read_csv('http://taanila.fi/telia.csv', sep = ';', decimal = ',', 
                  usecols = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

#Aikaleimat indeksiin:
elisa.index = pd.to_datetime(elisa['Date'],dayfirst=True)
telia.index = pd.to_datetime(telia['Date'],dayfirst=True)

#Järjestän aikasarjan indeksin mukaan vanhimmasta uusimpaan:
elisa.sort_index(inplace = True)
telia.sort_index(inplace = True)

In [29]:
elisa.head()

,Date,Bid,Ask,Opening price,High price,Low price,Closing price,Average price,Total volume,Turnover,Trades
Date,,,,,,,,,,,
2014-01-02,2.1.2014,19.20,19.21,19.26,19.40,19.10,19.20,19.223,235793,4532666.30,1190
2014-01-03,3.1.2014,19.34,19.35,19.12,19.52,19.12,19.35,19.350,306684,5934452.96,1394
2014-01-07,7.1.2014,19.35,19.36,19.46,19.56,19.31,19.36,19.407,390695,7582076.61,1558
2014-01-08,8.1.2014,19.24,19.29,19.34,19.47,19.21,19.29,19.293,318716,6149390.95,1138
2014-01-09,9.1.2014,19.49,19.50,19.35,19.56,19.29,19.50,19.450,357325,6950110.06,1412