In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
df = pd.read_csv('excel/employee.csv')
traveller = df[(df['BusinessTravel']=='Travel_Frequently')]
traveller

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
5,32,No,Travel_Frequently,1005,Research & Development,2,2,Life Sciences,1,8,...,3,80,0,8,2,2,7,7,3,6
8,38,No,Travel_Frequently,216,Research & Development,23,3,Life Sciences,1,12,...,2,80,0,10,2,3,9,7,1,8
26,32,Yes,Travel_Frequently,1125,Research & Development,16,1,Life Sciences,1,33,...,2,80,0,10,5,3,10,2,6,7
39,33,No,Travel_Frequently,1141,Sales,1,3,Life Sciences,1,52,...,1,80,2,10,3,3,5,3,1,3
43,27,No,Travel_Frequently,994,Sales,8,3,Life Sciences,1,56,...,4,80,0,9,0,3,9,8,1,7
44,30,No,Travel_Frequently,721,Research & Development,1,2,Medical,1,57,...,4,80,0,12,2,3,12,8,3,7
48,46,No,Travel_Frequently,1211,Sales,5,4,Marketing,1,62,...,3,80,0,14,4,3,9,6,0,8
55,33,No,Travel_Frequently,515,Research & Development,1,2,Life Sciences,1,73,...,3,80,0,15,1,3,15,14,8,12
56,35,No,Travel_Frequently,853,Sales,18,5,Life Sciences,1,74,...,4,80,1,9,3,2,9,8,1,8
61,38,No,Travel_Frequently,653,Research & Development,29,5,Life Sciences,1,79,...,4,80,0,10,2,3,10,3,9,9
66,36,No,Travel_Frequently,1195,Research & Development,11,3,Life Sciences,1,85,...,3,80,0,6,3,3,6,5,0,3
68,35,No,Travel_Frequently,664,Research & Development,1,3,Medical,1,88,...,4,80,1,5,2,2,3,2,1,2
70,59,No,Travel_Frequently,1225,Sales,1,1,Life Sciences,1,91,...,4,80,0,20,2,2,4,3,1,3
90,40,No,Travel_Frequently,530,Research & Development,1,4,Life Sciences,1,119,...,4,80,1,22,3,2,22,3,11,11
93,46,No,Travel_Frequently,638,Research & Development,1,3,Medical,1,124,...,3,80,1,21,5,2,10,9,9,5
102,20,Yes,Travel_Frequently,871,Research & Development,6,3,Life Sciences,1,137,...,2,80,0,1,5,3,1,0,1,0
106,50,No,Travel_Frequently,1115,Research & Development,1,3,Life Sciences,1,141,...,1,80,0,28,1,2,8,3,0,7
110,51,No,Travel_Frequently,1456,Research & Development,1,4,Medical,1,145,...,3,80,0,23,1,2,13,12,12,8
111,34,Yes,Travel_Frequently,658,Research & Development,7,3,Life Sciences,1,147,...,4,80,0,9,3,3,9,7,0,6
117,36,No,Travel_Frequently,1467,Sales,11,2,Technical Degree,1,154,...,3,80,1,10,6,3,9,7,2,8
119,43,No,Travel_Frequently,394,Sales,26,2,Life Sciences,1,158,...,4,80,2,25,3,4,25,12,4,12
120,30,No,Travel_Frequently,1312,Research & Development,23,3,Life Sciences,1,159,...,3,80,3,10,2,2,10,7,0,9
130,43,No,Travel_Frequently,957,Research & Development,28,3,Medical,1,171,...,4,80,0,18,2,3,3,2,1,2
131,50,No,Travel_Frequently,809,Sales,12,3,Marketing,1,174,...,4,80,0,16,3,3,2,2,2,1
136,51,Yes,Travel_Frequently,1150,Research & Development,8,4,Life Sciences,1,179,...,4,80,0,18,2,3,4,2,0,3
144,32,No,Travel_Frequently,689,Sales,9,2,Medical,1,195,...,4,80,3,9,2,4,8,7,0,7
147,41,No,Travel_Frequently,857,Research & Development,10,3,Life Sciences,1,199,...,2,80,1,21,2,2,7,6,7,7
150,40,No,Travel_Frequently,1395,Research & Development,26,3,Medical,1,202,...,1,80,1,20,2,3,20,7,2,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1310,58,No,Travel_Frequently,1216,Research & Development,15,4,Life Sciences,1,1837,...,2,80,0,23,3,3,2,2,2,2
1316,43,No,Travel_Frequently,1422,Sales,2,4,Life Sciences,1,1849,...,3,80,1,7,5,3,7,7,7,7
1317,27,No,Travel_Frequently,1297,Research & Development,5,2,Life Sciences,1,1850,...,3,80,0,6,3,2,5,4,0,2
1318,29,No,Travel_Frequently,574,Research & Development,20,1,Medical,1,1852,...,2,80,0,11,3,4,11,8,3,10
1319,32,No,Travel_Frequently,1318,Sales,10,4,Marketing,1,1853,...,3,80,0,4,2,4,0,0,0,0
1332,29,Yes,Travel_Frequently,459,Research & Development,24,2,Life Sciences,1,1868,...,2,80,0,1,3,2,1,0,1,0
1334,27,No,Travel_Frequently,1131,Research & Development,15,3,Life Sciences,1,1870,...,4,80,1,8,2,2,7,6,7,3
1347,36,No,Travel_Frequently,1213,Human Resources,2,1,Human Resources,1,1890,...,4,80,0,10,2,2,10,1,0,8
1351,48,No,Travel_Frequently,117,Research & Development,22,3,Medical,1,1900,...,2,80,1,24,3,3,22,17,4,7
1361,26,No,Travel_Frequently,1096,Research & Development,6,3,Other,1,1918,...,1,80,1,8,3,3,7,7,7,7
1362,45,No,Travel_Frequently,1297,Research & Development,1,4,Medical,1,1922,...,3,80,0,12,3,3,4,2,0,3
1364,28,No,Travel_Frequently,783,Sales,1,2,Life Sciences,1,1927,...,3,80,1,7,2,3,7,7,0,7
1365,29,Yes,Travel_Frequently,746,Sales,24,3,Technical Degree,1,1928,...,4,80,0,1,3,3,1,0,0,0
1368,34,No,Travel_Frequently,735,Research & Development,22,4,Other,1,1932,...,2,80,0,16,3,3,15,10,6,11
1373,38,No,Travel_Frequently,1394,Research & Development,8,3,Medical,1,1937,...,3,80,1,20,3,3,20,11,0,7
1375,32,Yes,Travel_Frequently,238,Research & Development,5,2,Life Sciences,1,1939,...,1,80,0,8,2,3,4,1,0,3
1377,49,No,Travel_Frequently,1064,Research & Development,2,1,Life Sciences,1,1941,...,4,80,0,28,3,3,5,4,4,3
1379,27,Yes,Travel_Frequently,1337,Human Resources,22,3,Human Resources,1,1944,...,1,80,0,1,2,3,1,0,0,0
1389,31,No,Travel_Frequently,1125,Research & Development,1,3,Life Sciences,1,1956,...,2,80,0,10,6,3,10,8,8,7
1395,31,Yes,Travel_Frequently,754,Sales,26,4,Marketing,1,1967,...,3,80,0,10,4,3,10,7,0,8
1398,33,No,Travel_Frequently,1303,Research & Development,7,2,Life Sciences,1,1970,...,3,80,3,9,2,3,9,7,2,8
1400,38,No,Travel_Frequently,1444,Human Resources,1,4,Other,1,1972,...,2,80,1,7,2,3,6,2,1,2
1409,40,No,Travel_Frequently,692,Research & Development,11,3,Technical Degree,1,1985,...,1,80,1,10,2,4,10,9,9,4
1418,38,No,Travel_Frequently,508,Research & Development,6,4,Life Sciences,1,1997,...,4,80,1,10,1,3,8,3,7,7
1438,23,Yes,Travel_Frequently,638,Sales,9,3,Marketing,1,2023,...,1,80,1,1,3,2,1,0,1,0
1440,36,No,Travel_Frequently,688,Research & Development,4,2,Life Sciences,1,2025,...,2,80,3,18,3,3,4,2,0,2
1452,50,Yes,Travel_Frequently,878,Sales,1,4,Life Sciences,1,2044,...,4,80,2,12,3,3,6,3,0,1
1456,35,No,Travel_Frequently,1199,Research & Development,18,4,Life Sciences,1,2049,...,4,80,2,10,2,4,10,2,0,2
1465,36,No,Travel_Frequently,884,Research & Development,23,2,Medical,1,2061,...,3,80,1,17,3,3,5,2,0,3
1468,49,No,Travel_Frequently,1023,Sales,2,3,Medical,1,2065,...,4,80,0,17,3,2,9,6,0,8

In [2]:
females = df[(df['BusinessTravel']=='Travel_Frequently') & (df['Gender']=='Female')] 
females['Gender'].head()

3     Female
26    Female
39    Female
44    Female
55    Female
Name: Gender, dtype: object

In [3]:
#Can't figure out the "or" condition
#single = df[(df['BusinessTravel']=='Travel_Frequently') & (df['MaritalStatus']=={'Single'} | {'Divorced'})]
#single

In [4]:
single = traveller[(traveller['MaritalStatus']!='Married')]
single[['BusinessTravel','MaritalStatus']].shape

(159, 2)

In [5]:
single['mstatus'] = single['MaritalStatus'].replace({'Divorced' : 'single'})
single[['BusinessTravel','mstatus']].shape

/home/matias/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

(159, 2)

In [44]:
bins = [15, 20, 30, 40, 50, 60, 70]
df['ageFilter'] = pd.cut(df['Age'], bins = bins)
df[['ageFilter', 'Age']].sort_values(by='ageFilter').shape

(1470, 2)

In [48]:
#agefilter = df[['ageFilter', 'Age']] & single[['BusinessTravel','mstatus']]
agedSingles = df[(df['ageFilter'])]

KeyError: "[Interval(40, 50, closed='right') Interval(40, 50, closed='right')\n Interval(30, 40, closed='right') ... Interval(20, 30, closed='right')\n Interval(40, 50, closed='right') Interval(30, 40, closed='right')] not in index"