In [53]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
df = pd.read_csv('excel/employee.csv')
traveller = df[(df['BusinessTravel']=='Travel_Frequently')]
traveller

In [87]:
females = df[(df['BusinessTravel']=='Travel_Frequently') & (df['Gender']=='Female')] 
females['Gender'].head()

3     Female
26    Female
39    Female
44    Female
55    Female
Name: Gender, dtype: object

In [117]:
#Can't figure out the "or" condition
#single = df[(df['BusinessTravel']=='Travel_Frequently') & (df['MaritalStatus']=={'Single'} | {'Divorced'})]
#single

In [125]:
single = df[(df['BusinessTravel']=='Travel_Frequently') & (df['MaritalStatus']=='Divorced') & (df['MaritalStatus']=='Single')]
single[['MaritalStatus', 'BusinessTravel']].head()

Empty DataFrame
Columns: [MaritalStatus, BusinessTravel]
Index: []

In [173]:
if df is True:
    df[df.MaritalStatus=='Divorced' or 'Single']
    df1 = df[df.MaritalStatus=='Divorced' or 'Single']
    df1.head()